<div class="panel panel-default">
  <div class="panel-heading">
    <h1 style="text-align: center">Role</h1><br>
    <div class="row" [hidden]="!deleteMessage">

      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Role Data Deleted</strong>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>


  <div class="panel-body">
    <button (click)="create()" class='btn btn-info mb-5' data-toggle="modal"
    data-target="#myModal">Thêm mới</button>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Role Name</th>
          <th>Description</th>
          <th>RoleCode</th>
          <th>roleOrder</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{ role.roleID }}</td>
          <td>{{ role.status }}</td>
          <td>{{ role.roleName }}</td>
          <td>{{ role.description }}</td>
          <td>{{ role.roleCode }}</td>
          <td>{{ role.roleOrder }}</td>
          <td>
            <button (click)="delete(role)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
            <button (click)="update(role)" class='btn btn-info' data-toggle="modal"
              data-target="#myModal">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="roleupdateform" #updstu (ngSubmit)="updateRole(role)">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Role</h4>

        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div [hidden]="isupdated">

            <input type="hidden" class="form-control" formControlName="roleID" [(ngModel)]="role.roleID" required>


            <div class="form-group">
              <label for="roleName">Tên quyền</label>
              <input type="text" class="form-control" formControlName="roleName" [(ngModel)]="role.roleName" required>
            </div>

            <div class="form-group">
              <label for="status">Hoạt động</label>
              <select class="form-control" formControlName="status" [(ngModel)]="role.status " name="status" required>
                <option value=1 [selected]="1 == role.status">Hoạt động</option>
                <option value=2 [selected]="2 == role.status">Không hoạt động</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description">Mô tả</label>
              <input type="text" class="form-control" formControlName="description" [(ngModel)]="role.description"
                name="description">
            </div>
            <div class="form-group">
              <label for="roleCode">Code</label>
              <input type="text" class="form-control" formControlName="roleCode" [(ngModel)]="role.roleCode"
                name="roleCode" required>
            </div>
            <div class="form-group">
              <label for="name">Thứ tự</label>
              <input type="number" class="form-control" formControlName="roleOrder" [(ngModel)]="role.roleOrder"
                name="roleOrder" required>
            </div>
            <label for="name">Chức năng</label>
            <ng-multiselect-dropdown [placeholder]="'Chọn chức năng'" [data]="functions"
              [(ngModel)]="role.function" formControlName="function" [settings]="dropdownSettings" 
             >
            </ng-multiselect-dropdown>
          </div>
          <div [hidden]="!isupdated">
            <h4>Student Detail Updated!</h4>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>
      </form>

    </div>
  </div>
</div>